{% load static %}
<!DOCTYPE html>
<html>
<center>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Welcome to Liang's Online Shop{% endblock %}</title>
</head>
<body>
	<body style="background: #ffffff url({% static "img.jpg" %})">
    <div id="header">
        <a href="/shop/product_list" class="logo">Welcome to Liang's Online Shop</a>
    </div>
    <div id="subheader">
        <div class="cart">
        	{% with total_items=cart|length %}
        		{% if cart|length > 0 %}
            		Your Shopping Cart:
            		<a href="{% url "cart:cart_detail" %}">
                		{{ total_items }} item{{ total_items|pluralize }},
                		${{ cart.get_total_price }}
            		</a>
        		{% else %}
            		Your Shopping Cart is Empty
        		{% endif %}
    		{% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
